input{
	padding: 10px;
	width:400%;
	overflow: fixed;
	padding-left: 20px;
	border: 1px solid rgba(221, 221, 221, 1);
	border-radius: 20px;

}
.align{
	padding-left:25%;
	padding-right: 58%;
}
.color{
	background-color: white;
background-size: 20px;

}
.go{
	padding: ;
	width: -12px;
	background-color: blue;
}
textarea{
	padding: 50px;
	width: 40px;
}